@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=DM+Sans:opsz,wght@9..40,300;9..40,400&family=Jacquard+24+Charted&family=Poppins:wght@300&display=swap');
.container{
    max-width: 1140px;
    margin: auto;
}
.personal{
    font-size: 180px;
    font-family: Caveat; 
    color: #7f0606;
}
.cont{ 
    display: flex;
    justify-content: center;
    height: 100vh;
    box-shadow: 0 4px 24px rgba(34, 41, 47, 0.1);
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(../img/BlogBox.PNG);
}
a{
    color: #000;
    text-decoration: none;
}