@import url("navbar.css");
@import url("footer.css");
.proCont{
    background-image:url(../img/programeer.gif) !important; 
}
.sourceImg { grid-area: sourceImg; }
.imgGroup { grid-area:imgGroup; }
.projectCont1{
    padding-block: 10%;
    display: grid;
    grid-template-areas:
    'sourceImg sourceImg sourceImg imgGroup imgGroup imgGroup'
    'sourceImg sourceImg sourceImg imgGroup imgGroup imgGroup'
    'sourceImg sourceImg sourceImg imgGroup imgGroup imgGroup';
  gap: 10px;
}
.projectCont2{
    padding-block: 10%;
    display: grid;
    grid-template-areas:
    'imgGroup imgGroup imgGroup sourceImg sourceImg sourceImg'
    'imgGroup imgGroup imgGroup sourceImg sourceImg sourceImg'
    'imgGroup imgGroup imgGroup sourceImg sourceImg sourceImg'
    ;
  gap: 10px;
}
.card{
    border: 3px solid rgb(150, 3, 3);
    width: 28rem;
    box-shadow: 0 4px 24px rgba(34, 41, 47, 0.1);
}
.card-img-top{
    border-bottom:3px solid rgb(150, 3, 3) ;
    border-radius: 10px;
    height: 200px;
    width: 100%;
}
.card-body{
    margin-left: 5px;
}
.card-title{
    color:#7f0606 ;
}

.btn-danger{
padding-block: 12px;
padding-inline: 20px;
background-color: #7f0606;
color: #fff;
border: none;
border-radius: 5px;
margin-bottom: 5px;
}
.figcaption{
    margin-top:20px;
}
.subContsection{
  box-shadow: 0 4px 24px rgba(34, 41, 47, 0.1);
  padding-top: 5%; 
  position: relative;
}
.subImg{
    width: 200px;
    height: 150px;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    box-shadow: 0 4px 24px rgba(34, 41, 47, 0.1);
    border: 3px solid rgb(150, 3, 3);
}
.subImg:hover{
    border-top-right-radius:0;
    border-bottom-left-radius:0;
    border-top-left-radius:20%;
    border-bottom-right-radius:20%;
}

.subImg2{
margin-bottom: 20%;
  
}
.projectsectiontitle{
    font-family: Caveat;
    margin-left: 10%;
    color: #7f0606;
    font-size: 50px;
}