@media screen and (max-width: 400px) {
 .personal{
  font-size: 100px !important;
  margin-top: 40%;
 }
 .title{
  font-size: 40px !important;
 }
 .cont{ 
  height: 90vh;
  box-shadow: 0 4px 24px rgba(34, 41, 47, 0.1);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size:contain;
  background-image: url(../img/BlogBox.PNG);
}
.projectheader{
  margin-bottom: 5%;
  margin-right:10% ;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid rgb(150, 3, 3);
}
.card{
  width: 20rem !important;
}
.imgGroup{
  margin-block: 10%;
}
.subImg2{
  margin-bottom: 0 !important;
}
.contactheader{
    
  margin-right:0 !important ;
  position: absolute;
  right: 0;
  width: 400px;
  height: 350px;
  bottom: 0;
}
.contact-us{
  width: 90%;
}
  }