.photograph{
height: 200px;
width: 200px;
border-radius: 50%;
border: 3px solid rgb(150, 3, 3);
}
.col {
    padding: 15px;
    box-sizing: border-box;
    flex: 41.6667%;
  }
.cvSection{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.cvHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.subCont{
  box-shadow: 0 4px 24px rgba(34, 41, 47, 0.1);
  padding-top: 10%;
}
.nameandmajor,.titles{
    color: rgb(150, 3, 3);
}
.hr{
   border: 3px solid #7f0606 ;
   background-color: #7f0606;
   color: #7f0606;
}
i{
    color: #7f0606;
}
.fa-magnifying-glass{
    display: none;
}
.subconcatinfo{
   margin-bottom: 0;
   margin-top: 0;
}
.subConta{
    width:83%;
    margin: auto;
}
.subsubtitle{
    font-weight: 600;
    color: #9c0f0f;
    margin-bottom: 0;
}
.h1{
    font-size: 60px;
    margin-block: 0;
}
.h2{
 font-size: 30px;
 margin-block: 0;
}

